* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    height: 100%;
}

section {
    background-color: lightgrey;
}

img {
    width: 30%;
}

.container {
    height: 100%;
    padding: 30px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.couponInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    background-color: #fff;
    padding: 15px;
    gap: 10px;
}

.itemDescription {
    width: 100%;
}

.timeLeftToBuy {
    display: flex;
    flex-direction: column;
}



