* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    position: relative;
}

section {
    width: 100%;
    background-color:  rgb(242, 242, 242);
}

img {
    width: 45px;
    height: 45px;
    object-fit: cover;
}

.categoryMenu {
    width: 100%;
    height: 80px;
    background-color: lightgrey;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 2px;
}

.container {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
}

.categoryWrapper {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.categoryItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categoryItem > h4 {
    font-size: 14px;
    font-weight: normal;
}

.addToFavorite {
    border: none;
}

.card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 180px;
}

.descriptionExp {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    font-size: 10px;
    gap:10px;
}

.descriptionExp p {
    display: flex;
    align-items: center;

}
.descriptionExp p a {
    color: grey;
    text-decoration: none;
}


.addToFavorite {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    align-items: center;
}

.addToFavorite button {
    color: #6fd098;
    background-color: #fff;
    cursor: pointer;
}

.price {
    display: flex;
    justify-content: space-between;
    margin: 5px;

}

.price button {
    width: 100px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 3px;
    font-weight: bold;
    font-size: 10px;
    cursor: pointer;
}

.price h4{
    color: #6fd098;
}

.cardImage {
    width: 100%;
    height: 5%;
    box-sizing: border-box;
}

