* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    position: relative;
}

section {
    height: 100%;
    background-color:  rgb(242, 242, 242);
}

img {
    width: 45px;
    height: 45px;
    object-fit: cover;
}

.categoryMenu {
    width: 100%;
    height: 80px;
    background-color: lightgrey;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 2px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    gap: 20px;

}

.categoryWrapper {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.categoryItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categoryItem > h4 {
    font-size: 14px;
    font-weight: normal;
}

.addToFavorite {
    border: none;
}

.card {
    background-color: #fff;
}

